.h1-home {
  text-align: center;
  font-family: 'quiche-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-yellow1);
  font-size: calc(1vw + 2.2rem);
  margin: 2rem 0 1.5rem 0;
  animation: moveInTop 3s ease-in-out;
  animation-fill-mode: backwards;
  position: relative;
  z-index: 1000;
  transition: all 0.2s ease-in-out;

  & :first-child {
    font-size: calc(1vw + 2.5rem);

    &::first-letter {
      font-size: calc(1vw + 2.7rem);
    }
  }

  @media only screen and (max-width: 1700px) {
    margin: 2rem 0 0 -12vw;
    display: flex;
    flex-direction: column;

    & :last-child {
      display: block;
      margin-left: 20vw;
    }
  }
  @media only screen and (max-width: 420px) {
    margin: 2.5rem 0 0 -5vw;
    & :last-child {
      margin-left: 11vw;
    }
  }
}

.home-main {
  margin-inline: auto;
}

.h2-home,
.h2b-home {
  height: 45vh;
  width: 90%;
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 15vw));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'one one one'
    '. two two'
    '. . three';
  align-items: end;
  justify-items: start;
  font-family: 'montag', sans-serif;
  font-weight: 300;
  font-size: calc(1vw + 1.8rem);
  color: #fff;
  letter-spacing: 0.3rem;

  & :first-child {
    grid-area: one;
    animation: moveInLeft 3s ease-in-out;
    animation-fill-mode: backwards;
    z-index: 1000;

    &:first-letter {
      font-size: calc(1vw + 2rem);
    }
  }

  & :nth-child(2) {
    grid-area: two;
    animation: moveInRight 3s ease-in-out 0.5s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000;
  }

  & :last-child {
    grid-area: three;
    animation: moveInLeft 3s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000;
  }

  @media only screen and (max-height: 850px) and (min-width: 1200px) {
    margin-top: -1rem;
  }
}

.rounded-triangle {
  &:focus {
    outline: 0.2rem solid white;
  }
}

.rounded-triangle-text {
  font-family: 'montag', sans-serif;
  font-weight: 300;
  margin-top: -1.6rem;
  z-index: 1000;
}

.rounded-triangle--1 a span:first-of-type {
  font-family: 'roboto', sans-serif;
  line-height: 1.5;
}

.display-none {
  display: none;
}
