.projects-page-heading {
  padding: 2rem 0 1.5rem 0;
  font-family: 'quiche-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-project-headings);
  letter-spacing: 0.2rem;
  color: var(--color-yellow1);
  text-shadow: 0 0.2rem 0.3rem var(--color-text-shadow);

  & :last-child {
    font-size: var(--fs-project-heading2);
  }
}

@media only screen and (max-width: 1100px) {
  .projects-page-heading:not(.heading-short) {
    @include project-responsive-headings;
  }
}

@media only screen and (max-width: 700px) {
  .projects-page-heading.heading-short {
    @include project-responsive-headings;
  }
}

.click-img {
  margin-bottom: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--color-yellow1);
  text-shadow: 0 0.2rem 0.3rem var(--color-text-shadow);
  font-size: var(--fs-click-image);
}
