:root {
  --color-primary: hsla(252, 100%, 20%, 1);
  --color-primary-light: hsla(252, 100%, 48%, 1);
  --color-primary-dark: hsla(252, 100%, 10%, 1);
  --color-secondary: hsl(45, 100%, 48%);
  --color-secondary-light: hsl(45, 100%, 63%);
  --color-secondary-dark: hsl(40, 100%, 50%);
  --color-text-shadow: hsl(0, 93%, 12%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: clamp(0.5rem, calc(0.1rem + 1.4vw), 1.5rem);
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--color-secondary-light);
  text-shadow: 0 0.1rem 0.3rem var(--color-text-shadow);
  font-weight: 400;
  /* background: radial-gradient(
    circle,
    var(--color-primary) 40%,
    var(--color-primary-dark) 70%
  ); */
  background: var(--color-primary);
  text-align: center;
}

section {
  margin-top: 2rem;
}

h1 {
  font-family: 'quiche-sans', sans-serif;
  margin: 3rem 0 2rem;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-family: 'quiche-sans', sans-serif;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  &:last-of-type {
    font-style: italic;
  }
}

button {
  font-weight: 700;
  border: 0;
  line-height: 2.5;
  padding: 0 2rem;
  font-size: 1rem;
  color: var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-secondary-dark);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.2s;
}

button:hover,
button:focus {
  filter: brightness(1.1);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

button:active {
  filter: brightness(1);
  transform: scale(1);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.contexts button {
  font-size: 90%;
  padding: 0.75rem 1rem;
  line-height: normal;
  pointer-events: none;
}

.this button {
  display: none;
}

pre {
  margin-bottom: -2.1rem;
  text-align: left;
  font-size: 0.9rem;
  text-shadow: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  @media only screen and (max-width: 500px) {
    font-size: 0.8rem;
  }
}

/* pre code.hljs {
  overflow-x: hidden;
} */

footer {
  font-family: 'quiche-sans', sans-serif;
  padding: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  background: var(--color-primary);
}

hr {
  margin-top: 2rem;
  height: 2px;
  background-color: var(--color-secondary-light);
  border: none;
}
