.sm-triangle1 {
  position: absolute;
  top: calc(12vh + calc(1 * 0.5vh));
  left: calc(10vw + calc(1 * 1vw));
  width: calc(3rem + calc(1 * 2rem));
  height: calc(3rem + calc(1 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 1);
  animation-fill-mode: backwards;
  z-index: calc(10 + 1); }

.sm-triangle2 {
  position: absolute;
  top: calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh));
  left: calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw));
  width: calc(3rem + calc(2 * 2rem));
  height: calc(3rem + calc(2 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 2);
  animation-fill-mode: backwards;
  z-index: calc(10 + 2); }

.sm-triangle3 {
  position: absolute;
  top: calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh));
  left: calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw));
  width: calc(3rem + calc(3 * 2rem));
  height: calc(3rem + calc(3 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 3);
  animation-fill-mode: backwards;
  z-index: calc(10 + 3); }

.sm-triangle4 {
  position: absolute;
  top: calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh));
  left: calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw));
  width: calc(3rem + calc(4 * 2rem));
  height: calc(3rem + calc(4 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 4);
  animation-fill-mode: backwards;
  z-index: calc(10 + 4); }

.sm-triangle5 {
  position: absolute;
  top: calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh));
  left: calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw));
  width: calc(3rem + calc(5 * 2rem));
  height: calc(3rem + calc(5 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 5);
  animation-fill-mode: backwards;
  z-index: calc(10 + 5); }

.sm-triangle6 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw));
  width: calc(3rem + calc(6 * 2rem));
  height: calc(3rem + calc(6 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 6);
  animation-fill-mode: backwards;
  z-index: calc(10 + 6); }

.sm-triangle7 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw));
  width: calc(3rem + calc(7 * 2rem));
  height: calc(3rem + calc(7 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 7);
  animation-fill-mode: backwards;
  z-index: calc(10 + 7); }

.sm-triangle8 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh)) + calc(8 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw)) + calc(8 * 1vw));
  width: calc(3rem + calc(8 * 2rem));
  height: calc(3rem + calc(8 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 8);
  animation-fill-mode: backwards;
  z-index: calc(10 + 8); }

.sm-triangle9 {
  position: absolute;
  top: calc(calc(calc(calc(calc(calc(calc(calc(calc(12vh + calc(1 * 0.5vh)) + calc(2 * 0.5vh)) + calc(3 * 0.5vh)) + calc(4 * 0.5vh)) + calc(5 * 0.5vh)) + calc(6 * 0.5vh)) + calc(7 * 0.5vh)) + calc(8 * 0.5vh)) + calc(9 * 0.5vh));
  left: calc(calc(calc(calc(calc(calc(calc(calc(calc(10vw + calc(1 * 1vw)) + calc(2 * 1vw)) + calc(3 * 1vw)) + calc(4 * 1vw)) + calc(5 * 1vw)) + calc(6 * 1vw)) + calc(7 * 1vw)) + calc(8 * 1vw)) + calc(9 * 1vw));
  width: calc(3rem + calc(9 * 2rem));
  height: calc(3rem + calc(9 * 2rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.6) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.05s * 9);
  animation-fill-mode: backwards;
  z-index: calc(10 + 9); }

.lg-triangle1 {
  position: absolute;
  bottom: calc(-3vh + calc(9vh * 1));
  width: calc(34rem - calc(1 * 4rem));
  height: calc(34rem - calc(1 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 1));
  animation-fill-mode: backwards;
  z-index: calc(40 - 1); }
  @media only screen and (max-width: 1140px) {
    .lg-triangle1 {
      left: calc(44vw - calc(1 * 12vw)); } }
  @media only screen and (min-width: 1141px) {
    .lg-triangle1 {
      left: calc(40vw - calc(1 * 6vw)); } }
  @media only screen and (min-width: 1801px) {
    .lg-triangle1 {
      left: calc(50vw - calc(1 * 6vw)); } }

.lg-triangle2 {
  position: absolute;
  bottom: calc(-3vh + calc(9vh * 2));
  width: calc(34rem - calc(2 * 4rem));
  height: calc(34rem - calc(2 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 2));
  animation-fill-mode: backwards;
  z-index: calc(40 - 2); }
  @media only screen and (max-width: 1140px) {
    .lg-triangle2 {
      left: calc(44vw - calc(2 * 12vw)); } }
  @media only screen and (min-width: 1141px) {
    .lg-triangle2 {
      left: calc(40vw - calc(2 * 6vw)); } }
  @media only screen and (min-width: 1801px) {
    .lg-triangle2 {
      left: calc(50vw - calc(2 * 6vw)); } }

.lg-triangle3 {
  position: absolute;
  bottom: calc(-3vh + calc(9vh * 3));
  width: calc(34rem - calc(3 * 4rem));
  height: calc(34rem - calc(3 * 4rem));
  background-image: linear-gradient(0deg, rgba(41, 0, 204, 0.8) 40%, rgba(255, 255, 255, 0.3));
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  animation: moveInDiagTopLeft 2s ease-out calc(0.7s + calc(0.3s * 3));
  animation-fill-mode: backwards;
  z-index: calc(40 - 3); }
  @media only screen and (max-width: 1140px) {
    .lg-triangle3 {
      left: calc(44vw - calc(3 * 12vw)); } }
  @media only screen and (min-width: 1141px) {
    .lg-triangle3 {
      left: calc(40vw - calc(3 * 6vw)); } }
  @media only screen and (min-width: 1801px) {
    .lg-triangle3 {
      left: calc(50vw - calc(3 * 6vw)); } }

.rounded-triangle {
  background-image: url(../img/Rounded-triangle2.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: 100;
  animation: moveInBottom 1.5s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition: all ease-out 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .rounded-triangle:hover {
    scale: 1.1;
    filter: brightness(1.2);
    transform: translateY(-0.5rem);
    box-shadow: 0 0rem 1rem 0.3rem rgba(255, 247, 0, 0.8);
    border-radius: 50%; }
    .rounded-triangle:hover > * {
      margin-bottom: 4rem; }
  .rounded-triangle > * {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 2rem;
    justify-content: center;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.1;
    text-shadow: 0rem 0rem 0.5rem var(--color-text-shadow-dk); }

.rounded-triangle--1 {
  bottom: 14vh;
  left: 31vw; }
  @media only screen and (min-width: 1601px) {
    .rounded-triangle--1 {
      left: 40vw; } }

.rounded-triangle--2 {
  bottom: 8vh;
  left: 56vw; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  z-index: 1;
  animation: pulse 2.5s ease-in-out infinite alternate; }

@keyframes pulse {
  from {
    background: -webkit-radial-gradient(center, ellipse cover, var(--color-sun) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 1; }
  to {
    background: -webkit-radial-gradient(center, ellipse cover, var(--color-sun) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0.5; } }

@keyframes animated-gradient {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes moveInDiagTopLeft {
  0% {
    opacity: 0;
    transform: translate(-10vw, -10vh) scale(0); }
  80% {
    transform: translate(1rem, 1rem) scale(1.5); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem) scale(0); }
  80% {
    transform: translatey(1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem) scale(0); }
  80% {
    transform: translatey(-1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10vw) scale(0); }
  80% {
    transform: translatex(1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(10rem) scale(0); }
  80% {
    transform: translatex(-1rem) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0) scale(1); } }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  80% {
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.universe {
  position: relative;
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: appear 2s;
  z-index: -10; }

.universe > * {
  position: absolute;
  top: -450%;
  left: 0;
  height: 1000%;
  width: 100%; }

.universe > * {
  background-size: 200px 200px;
  background-image: radial-gradient(2.6px 2.6px at 40px 60px, #ccc, rgba(0, 0, 0, 0)), radial-gradient(3.7px 3.7px at 20px 20px, var(--color-gray), rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 30px 100px, var(--color-gray), rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 40px 40px, var(--color-gray), rgba(0, 0, 0, 0)), radial-gradient(4.4px 4.4px at 110px 80px, var(--color-gray), rgba(0, 0, 0, 0)), radial-gradient(3.4px 3.4px at 190px 150px, var(--color-gray), rgba(0, 0, 0, 0));
  background-position: center;
  background-repeat: repeat; }

.universe > * {
  transform-origin: 50% 50%;
  animation-name: universeRotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.universe > *:nth-child(1) {
  animation-duration: 35s; }

.universe > *:nth-child(2) {
  animation-duration: 45s; }

.universe > *:nth-child(3) {
  animation-duration: 60s; }

.universe > *:nth-child(4) {
  animation-duration: 80s; }

.universe > *:nth-child(5) {
  animation-duration: 105s; }

@keyframes universeRotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes fadeInImg {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

:root {
  --fs-default: clamp(0.5rem, 1.2vw + 0.2rem, 1.5rem);
  --fs-project-headings: clamp(1.5rem, 3.2vw + 0.7rem, 2.4rem);
  --fs-project-heading2: clamp(1.4rem, 2.6vw + 0.5rem, 2rem);
  --fs-click-image: clamp(0.8rem, 1.5vw + 0.5rem, 1.4rem);
  --color-background: hsla(252, 100%, 24%, 1);
  --color-background-light: hsla(252, 100%, 44%, 1);
  --color-background-dark: hsla(252, 100%, 10%, 1);
  --color-sun: hsla(48, 100%, 50%, 1);
  --color-white-1: seashell;
  --color-gray: #bbafc863;
  --color-yellow1: hsl(45, 100%, 63%);
  --color-yellow2: hsl(45, 100%, 48%);
  --color-text-shadow: hsl(0, 93%, 17%);
  --color-text-shadow-dk: hsla(0, 93%, 17%, 0.3);
  --img-border-width: clamp(0.3rem, calc(0.5rem + 0.2vw), 2rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: var(--fs-default); }

body {
  min-height: 100vh;
  min-height: 100svh;
  background: radial-gradient(circle, var(--color-background) 40%, var(--color-background-dark) 70%);
  position: relative;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1; }

.body-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

main {
  margin-bottom: 3rem; }

.footer {
  background: linear-gradient(90deg, rgba(255, 217, 0, 0.8), rgba(122, 142, 255, 0.4), rgba(255, 217, 0, 0.8));
  background-size: 800% 800%;
  animation: animated-gradient 10s linear infinite;
  margin-top: auto;
  padding: 1.5rem;
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-yellow1);
  text-shadow: 0 0.2rem 0.2rem var(--color-text-shadow);
  transition: all 0.2s; }
  .footer:hover {
    text-shadow: 0 0.4rem 0.4rem var(--color-text-shadow);
    transform: scale(1.03); }

.logo {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 3rem;
  height: 6rem;
  width: 6rem;
  z-index: 7000; }
  @media only screen and (max-width: 24em) {
    .logo {
      left: 2.5rem;
      height: 5.5rem;
      width: 5.5rem; } }
  .logo__img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0rem 0.5rem 0.4rem var(--color-yellow1);
    filter: opacity(0.7);
    transition: all 0.4s; }
    .logo__img:hover {
      scale: 1.1;
      filter: brightness(1.1);
      box-shadow: 0 0rem 1rem 0.4rem var(--color-yellow1); }
    .logo__img:focus {
      outline: 0.2rem solid white; }

.body-home .navigation {
  animation: appear 2s ease-in-out 3s;
  animation-fill-mode: backwards; }

.body-art .navigation,
.body-web-projects .navigation {
  animation: appear 2s ease-in-out 0.5s;
  animation-fill-mode: backwards; }

.navigation__list {
  display: none; }

.navigation__button {
  background-color: transparent;
  position: fixed;
  top: 2.7rem;
  right: 3rem;
  height: 6.5rem;
  width: 6.5rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 5000; }
  .navigation__button:focus {
    outline: 0.2rem solid white; }
  @media only screen and (max-width: 24em) {
    .navigation__button {
      right: 2.5rem;
      height: 6rem;
      width: 6rem; } }

.navigation__background {
  opacity: 0;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
  background: radial-gradient(var(--color-background-dark), var(--color-background-light) 40%);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 24em) {
    .navigation__background {
      height: 5.5rem;
      width: 5.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300; }

.navigation__item {
  margin: 1rem 0.5rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-yellow1);
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-yellow2) 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  background-position: 100%;
  color: #090979;
  transform: translateX(1rem); }

.navigation__nav .navigation__list.show {
  display: flex; }

.navigation__background.show {
  transform: scale(80);
  opacity: 1; }

.navigation__nav.show {
  opacity: 1;
  display: inline-block;
  width: 100%; }

.navigation__burger {
  position: fixed;
  background-color: rgba(var(--color-white-1), 0.2);
  background: linear-gradient(90deg, rgba(255, 217, 0, 0.8), rgba(122, 142, 255, 0.4), rgba(255, 217, 0, 0.8));
  background-size: 800% 800%;
  animation: animated-gradient 10s linear infinite;
  top: 2.7rem;
  right: 3rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 8000; }
  .navigation__burger:focus {
    outline: 0.2rem solid white; }

.navigation__burger-layers {
  position: relative;
  margin-top: 3.2rem; }
  @media only screen and (max-width: 24em) {
    .navigation__burger-layers {
      margin-top: 3rem;
      margin-right: -0.05rem; } }
  .navigation__burger-layers, .navigation__burger-layers::before, .navigation__burger-layers::after {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--color-yellow1);
    display: inline-block; }
  .navigation__burger-layers::before, .navigation__burger-layers::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__burger-layers::before {
    top: -0.8rem; }
  .navigation__burger-layers::after {
    top: 0.8rem; }

.navigation__burger:hover .navigation__burger-layers {
  filter: brightness(1.2); }

.navigation__burger:hover .navigation__burger-layers::before {
  filter: brightness(1.2); }

.navigation__burger:hover span:not(.selected):before {
  top: -1rem; }

.navigation__burger:hover .navigation__burger-layers::after {
  filter: brightness(1.2); }

.navigation__burger:hover span:not(.selected)::after {
  top: 1rem; }

.navigation__burger-layers.selected {
  background-color: transparent; }

.navigation__burger-layers.selected::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__burger-layers.selected::after {
  top: 0;
  transform: rotate(-135deg); }

.h1-home {
  text-align: center;
  font-family: 'alexa-std', sans-serif;
  font-weight: 400;
  color: var(--color-yellow1);
  font-size: calc(1.5vw + 3.5rem);
  margin: 3rem 0 1.5rem 0;
  animation: moveInTop 3s ease-in-out;
  animation-fill-mode: backwards;
  position: relative;
  z-index: 1000;
  transition: all 0.2s ease-in-out; }
  .h1-home:first-child::first-letter {
    font-size: calc(1.5vw + 4.5rem);
    letter-spacing: -0.35rem; }
  @media only screen and (max-width: 35em) {
    .h1-home {
      margin: 3rem 0 0 -7vw;
      display: flex;
      flex-direction: column; }
      .h1-home :last-child {
        margin-top: 1.5rem;
        margin-left: 20vw; } }

.home-main {
  margin-inline: auto; }

.h2-home,
.h2b-home {
  height: 50vh;
  width: 90%;
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 15vw));
  grid-template-rows: repeat(3, 3fr);
  grid-template-areas: 'one one one' '. two two' '. . three';
  align-items: end;
  justify-items: start;
  font-family: 'montag', sans-serif;
  font-weight: 300;
  font-size: calc(1vw + 2rem);
  color: #fff;
  letter-spacing: 0.3rem; }
  .h2-home :first-child,
  .h2b-home :first-child {
    grid-area: one;
    animation: moveInLeft 3s ease-in-out;
    animation-fill-mode: backwards;
    z-index: 1000; }
    .h2-home :first-child:first-letter,
    .h2b-home :first-child:first-letter {
      font-size: calc(1vw + 2.2rem); }
  .h2-home :nth-child(2),
  .h2b-home :nth-child(2) {
    grid-area: two;
    animation: moveInRight 3s ease-in-out 0.5s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000; }
  .h2-home :last-child,
  .h2b-home :last-child {
    grid-area: three;
    animation: moveInLeft 3s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000; }

.rounded-triangle:focus {
  outline: 0.2rem solid white; }

.rounded-triangle-text {
  font-family: 'montag', sans-serif;
  font-weight: 300;
  margin-top: -1.6rem;
  z-index: 1000; }

.rounded-triangle--1 a span:first-of-type {
  font-family: 'roboto', sans-serif;
  line-height: 1.5; }

.display-none {
  display: none; }

.projects-page-heading {
  padding: 2rem 0 1.5rem 0;
  font-family: quiche-sans, sans-serif;
  font-size: var(--fs-project-headings);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  color: var(--color-yellow1);
  text-shadow: 0 0.2rem 0.3rem var(--color-text-shadow); }

@media only screen and (max-width: 90em) {
  .projects-page-heading:not(.heading-short) :last-child {
    display: block;
    line-height: 1.4;
    font-size: var(--fs-project-heading2);
    font-weight: 300; } }

@media only screen and (max-width: 58em) {
  .projects-page-heading.heading-short :last-child {
    display: block;
    line-height: 1.4;
    font-size: var(--fs-project-heading2);
    font-weight: 300; } }

.click-img {
  margin-bottom: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--color-yellow1);
  text-shadow: 0 0.2rem 0.3rem var(--color-text-shadow);
  font-size: var(--fs-click-image); }

.proj-app-list {
  width: 90vw;
  margin: 3rem auto;
  padding: 3rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  justify-content: center;
  background-color: #848484;
  font-weight: 500; }
  @media only screen and (max-width: 1066px) {
    .proj-app-list {
      width: 70vw; } }

.proj-app__item {
  list-style: none; }
  .proj-app__item h3 + p {
    font-size: 1.2rem; }

.proj-app__info-launch {
  margin: 2rem;
  padding: 1.2rem 2rem 1.2rem 2rem;
  display: grid;
  grid-template-rows: 3.5rem;
  text-decoration: none;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease; }
  .proj-app__info-launch:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
  .proj-app__info-launch:active {
    transform: scale(1);
    box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }

.proj-app__launch {
  margin: 2rem;
  padding: 1.2rem 2rem 0 2rem;
  display: grid;
  grid-template-rows: 0.5fr 4fr 1.3fr;
  text-decoration: none;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease; }
  .proj-app__launch:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2); }
  .proj-app__launch:active {
    transform: scale(1);
    box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }

.proj-app__launch-img {
  padding: 1rem 0 1rem; }
  .proj-app__launch-img img {
    width: 100%; }

.proj-app__desc-heading {
  margin-bottom: 1rem;
  font-weight: 900; }

.interests-heading {
  margin-top: 2.5rem;
  font-family: 'tangier', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
  filter: brightness(1.1);
  text-shadow: 0 0.15rem 0.2rem var(--color-text-shadow);
  transition: all 0.4s; }
  .interests-heading :last-child {
    display: block;
    margin-top: 1rem;
    font-size: 2.5rem; }
    @media only screen and (max-width: 30rem) {
      .interests-heading :last-child {
        margin-top: 3rem; } }

.interests-news {
  margin-inline: auto;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--color-text-shadow); }
  .interests-news__title {
    padding-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 2rem; }
  .interests-news__quote {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--color-tertiary-dark); }
  .interests-news__quote-name {
    margin: 1.5rem 0 2.5rem;
    font-size: 1.2rem;
    color: var(--color-tertiary-dark); }
  .interests-news__title2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase; }
  .interests-news__title3 {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    color: var(--color-tertiary-dark); }
  .interests-news__link {
    position: relative;
    display: block;
    margin: 0 1rem 2.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-white-1);
    transition: all 0.2s; }
    .interests-news__link:hover {
      filter: brightness(1.1);
      text-shadow: 0rem 0.3rem 0.3rem var(--color-yellow1);
      transform: scale(1.03) translateY(-0.2rem); }
  .interests-news__movie {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300; }
  .interests-news__movie-title {
    font-size: 1.4rem; }

.interests-pinterest {
  width: 100%; }
  .interests-pinterest__list {
    display: flex;
    justify-content: space-around;
    margin-inline: 4rem;
    list-style: none; }
    @media only screen and (max-width: 22.5em) {
      .interests-pinterest__list {
        margin: 0; } }
  .interests-pinterest__item {
    min-width: 6rem;
    max-width: 10rem;
    flex: 1 1 0;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    transition: all 0.2s ease-out; }
    .interests-pinterest__item:hover {
      filter: brightness(1.5) saturate(1.5);
      box-shadow: 0 0rem 1rem 0.3rem var(--color-yellow1);
      transform: scale(1.1) translateY(-0.3rem); }
  .interests-pinterest__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0 0.02rem 0.5rem var(--color-text-shadow-dk); }
    .interests-pinterest__link h2 {
      font-family: 'roboto', sans-serif;
      color: var(--color-white-1);
      font-weight: 300;
      font-size: 1.2rem;
      text-shadow: 0rem 0.15rem 0.15rem var(--color-text-shadow);
      padding-top: 1rem; }
  .interests-pinterest__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: rgba(255, 0, 0, 0.8);
    opacity: 0.8; }

.interests-myvideo__title1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--color-text-shadow); }

.interests-myvideo__grp {
  margin-inline: auto;
  padding: 1.5rem 0 1rem;
  width: 50vw; }

.interests-myvideo__link {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 0.2rem;
  outline-offset: 0.7rem;
  filter: brightness(0.9);
  transition: all ease-in 0.2s; }
  .interests-myvideo__link:hover {
    outline: 1rem solid var(--color-tertiary);
    filter: brightness(1.1);
    box-shadow: 0 0rem 1rem 0.3rem var(--color-yellow1);
    transform: scale(1.02) translateY(-0.2rem); }

.interests-myvideo__img {
  width: 100%;
  border-radius: 0.5rem;
  display: block; }

.interests-poetry {
  margin: 0 auto;
  padding-bottom: 3rem;
  font-size: 2.2rem;
  font-family: 'tangier', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--color-white-1);
  text-shadow: 0rem 0.15rem 0.15rem var(--color-text-shadow); }
  .interests-poetry h2 {
    opacity: 0;
    height: 0; }

.interests-spirit-footer {
  font-family: 'tangier', sans-serif;
  font-weight: 300;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  color: white; }

hr {
  width: 20%;
  background-color: white;
  height: 0.3rem;
  margin: 4rem auto 4rem auto;
  border: none; }

.hr-short {
  width: 10%;
  margin: 2rem auto 2rem auto; }

.card-columns {
  margin: 0 2rem 0 2rem;
  columns: 2;
  column-gap: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .card-columns {
      columns: 3; } }
  @media only screen and (min-width: 992px) {
    .card-columns {
      columns: 4; } }

.card__img {
  margin-top: 1.5rem;
  display: inline-block;
  min-height: 100%;
  transition: all ease-in-out 0.2s;
  position: relative;
  border: solid #4d4d4d;
  border-width: var(--img-border-width);
  border-radius: 0.5rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
  .card__img:before {
    content: '';
    position: absolute; }
  .card__img:hover {
    transform: scale(1.03) translateY(-0.1rem);
    filter: brightness(108%);
    box-shadow: 0 0.6rem 0.8rem black;
    cursor: pointer; }
  .card__img img {
    width: 100%;
    display: block;
    min-height: 100%; }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: #fff;
  z-index: 10000;
  overflow: auto;
  opacity: 0;
  pointer-events: none; }

.modalContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.modalImg {
  width: 100%;
  object-fit: contain;
  margin-top: 2rem;
  max-height: 80vh;
  max-width: 80vw;
  display: block;
  transform-origin: top;
  animation: scale 0.75s ease-out;
  animation-fill-mode: backwards; }

.modalTxt {
  margin-top: 1em;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.6); }

.modalNav {
  margin-top: 1em; }

.modalNav .button {
  padding: 0.5rem 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -4%; }

.prevBtn {
  left: 3rem;
  transition: all 0.2s; }
  .prevBtn:hover, .prevBtn:focus, .prevBtn:active {
    color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.8); }

.nextBtn {
  right: 3rem;
  transition: all 0.2s; }
  .nextBtn:hover, .nextBtn:focus, .nextBtn:active {
    color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.8); }

.close {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: 1vh;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s; }
  .close:hover, .close:focus, .close:active {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1); }

.modal.appear {
  opacity: 1;
  pointer-events: all; }
