:root {
  --fs-default: clamp(0.5rem, 1.2vw + 0.2rem, 1rem);
  --fs-project-headings: clamp(1.5rem, 3.2vw + 0.7rem, 2.4rem);
  --fs-project-heading2: clamp(1.4rem, 2.6vw + 0.5rem, 2rem);
  --fs-project-desktop-headings: clamp(1.5rem, 3.2vw + 0.7rem, 2.2rem);
  --fs-project-desktop-heading2: clamp(1.4rem, 2.6vw + 0.5rem, 1.9rem);
  --fs-click-image: clamp(0.8rem, 1.5vw + 0.5rem, 1.4rem);
  --color-background: hsla(252, 100%, 24%, 1);
  --color-background-light: hsla(252, 100%, 44%, 1);
  --color-background-dark: hsla(252, 100%, 10%, 1);
  --color-sun: hsla(48, 100%, 50%, 1);
  --color-white-1: seashell;
  --color-gray: #bbafc863;
  --color-yellow1: hsl(45, 100%, 63%);
  --color-yellow2: hsl(45, 100%, 48%);
  --color-yellow3: hsl(45, 100%, 70%);
  --color-text-shadow: hsl(0, 93%, 17%);
  --color-text-shadow-dk: hsla(0, 93%, 17%, 0.3);
  --img-border-width: clamp(0.3rem, calc(0.5rem + 0.2vw), 2rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: var(--fs-default); }

body {
  min-height: 100vh;
  min-height: 100svh;
  background: radial-gradient(circle, var(--color-background) 40%, var(--color-background-dark) 70%);
  position: relative;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1; }

.body-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

main {
  margin-bottom: 3rem; }

.footer {
  margin-top: auto;
  padding: 1.5rem;
  font-family: 'quiche-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-yellow1);
  text-shadow: 0 0.1rem 0.3rem var(--color-text-shadow);
  transition: all 0.2s; }
  .footer:hover {
    text-shadow: 0 0.2rem 0.3rem var(--color-text-shadow);
    transform: scale(1.03); }

.h1-home {
  text-align: center;
  font-family: 'quiche-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-yellow1);
  font-size: calc(1vw + 2.2rem);
  margin: 2rem 0 1.5rem 0;
  animation: moveInTop 3s ease-in-out;
  animation-fill-mode: backwards;
  position: relative;
  z-index: 1000;
  transition: all 0.2s ease-in-out; }
  .h1-home :first-child {
    font-size: calc(1vw + 2.5rem); }
    .h1-home :first-child::first-letter {
      font-size: calc(1vw + 2.7rem); }
  @media only screen and (max-width: 1700px) {
    .h1-home {
      margin: 2rem 0 0 -12vw;
      display: flex;
      flex-direction: column; }
      .h1-home :last-child {
        display: block;
        margin-left: 20vw; } }
  @media only screen and (max-width: 420px) {
    .h1-home {
      margin: 2.5rem 0 0 -5vw; }
      .h1-home :last-child {
        margin-left: 11vw; } }

.home-main {
  margin-inline: auto; }

.h2-home,
.h2b-home {
  height: 45vh;
  width: 90%;
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 15vw));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 'one one one' '. two two' '. . three';
  align-items: end;
  justify-items: start;
  font-family: 'montag', sans-serif;
  font-weight: 300;
  font-size: calc(1vw + 1.8rem);
  color: #fff;
  letter-spacing: 0.3rem; }
  .h2-home :first-child,
  .h2b-home :first-child {
    grid-area: one;
    animation: moveInLeft 3s ease-in-out;
    animation-fill-mode: backwards;
    z-index: 1000; }
    .h2-home :first-child:first-letter,
    .h2b-home :first-child:first-letter {
      font-size: calc(1vw + 2rem); }
  .h2-home :nth-child(2),
  .h2b-home :nth-child(2) {
    grid-area: two;
    animation: moveInRight 3s ease-in-out 0.5s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000; }
  .h2-home :last-child,
  .h2b-home :last-child {
    grid-area: three;
    animation: moveInLeft 3s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1000; }
  @media only screen and (max-height: 850px) and (min-width: 1200px) {
    .h2-home,
    .h2b-home {
      margin-top: -1rem; } }

.rounded-triangle-text {
  font-family: 'montag', sans-serif;
  font-weight: 300;
  margin-top: -1.6rem;
  z-index: 1000; }

.rounded-triangle--1 a p {
  font-family: 'roboto', sans-serif;
  line-height: 0.8;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem; }

.rounded-triangle--2 div {
  margin-top: -3.5rem; }

.display-none {
  display: none; }

.projects-page-heading {
  padding: 2rem 0 1.5rem 0;
  font-family: 'quiche-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-project-headings);
  letter-spacing: 0.2rem;
  color: var(--color-yellow1);
  text-shadow: 0 0.1rem 0.3rem var(--color-text-shadow); }
  .projects-page-heading :last-child {
    font-size: var(--fs-project-heading2); }

@media only screen and (max-width: 1100px) {
  .projects-page-heading:not(.heading-short) :last-child {
    display: block;
    line-height: 1.4;
    font-size: var(--fs-project-heading2);
    font-weight: 300; } }

@media only screen and (max-width: 700px) {
  .projects-page-heading.heading-short :last-child {
    display: block;
    line-height: 1.4;
    font-size: var(--fs-project-heading2);
    font-weight: 300; } }

@media only screen and (min-width: 1101px) {
  :last-child {
    line-height: 1;
    font-size: var(--fs-project-desktop-heading2);
    font-weight: 300; } }

.click-img {
  margin-bottom: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--color-yellow1);
  text-shadow: 0 0.1rem 0.3rem var(--color-text-shadow);
  font-size: var(--fs-click-image); }

.contracting__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none; }

.contracting__item {
  margin-top: 3rem;
  width: 80%; }
  .contracting__item-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem 0; }

.contracting__img {
  width: 100%; }
  .contracting__img[src*='paint-brush-drops'] {
    aspect-ratio: 1.5/1; }
  .contracting__img--small {
    width: 48%;
    aspect-ratio: 1.4/1; }
